
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-height:100vh;
    background: url(bg.jpg)no-repeat;
    background-size:cover;
    background-position: center;
}
.hero{
    background-image: linear-gradient(#154844, #bccdab);
    height:80%;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.material-symbols-outlined {
        font-size: 5vh !important; 
    }


.main_header {
    height:100px;
    text-transform:uppercase;   
    font-family: 'Poppins', sans-serif;  
}

h1{
    color:#fffef8;
    font-size:55px;
    padding:3.25%;
    margin:0;
    text-align:center;
    position:relative;
    font-size:5vh;
}
.div {
    margin:0;
}

.container {
    display: inline-block;
    cursor: pointer;
  }
  
.side-bar{
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    width: 290px;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    overflow-y: auto;
}

.side-bar .menu{
    width:100%;
    margin-top: 80px;
}

.side-bar .menu .item{
    position: relative;
    cursor: pointer;
}

.side-bar .menu .item a{
   color: #fff;
   background: #154844;
   font-size:16px;
   text-decoration: none;
   display: block;
   padding: 5px 30px;
   line-height:60px;
}

.side-bar .menu .item a:hover{
    background: #154844;
    transistion: 0.3s ease;

}
